/* This file is for your main application css. */
:root {
	--teal: #009688;
	--bright-red: rgb(244, 67, 54);
	--green-accent: #00c853;
	--mobile: 600px;
	--light-blue: #039be5;
	--material-pink: #ee6e73;
}

body {
	min-height: 100vh;
	font-family: Helvetica, Arial, sans-serif;
}

@media (max-width: 600px) {
	body {
		width: 100vw;
	}
}

main {
	min-height: inherit;
}

.rounded {
	border-radius: 1.5em;
}

.large-text {
	font-size: xx-large;
}

.medium-text {
	font-size: 1.05rem;
}

.pop-text {
	font-size: 1.25rem;
}

.center-align {
	text-align: center;
}

@media (max-width: 560px) {
	.center-align-small {
		text-align: center;
	}

	.pad-left-small {
		padding-left: 10em;
	}

	.margin-bottom-small {
		margin-bottom: 2em;
	}
}