/* This file is for your main application css. */
:root {
	--teal: #009688;
}

body {
	min-height: 100vh;
	font-family: Helvetica, Arial, sans-serif; 
}

main {
	min-height: inherit;
}

.rounded {
	border-radius: 1.5em;
}