.message-container {
	display: flex;
	justify-content: baseline;
	align-items: center;
	font-size: 1.25rem;
}

.chat-container {
	height: 30vh;
	overflow-y: scroll;
}

.chat-player-name {
	flex: 1;
	font-weight: 600;
}

.chat-message-item {
	text-align: left;
	flex: 6;
}

.chat-input-container {
	display: flex;
	justify-content: baseline;
	align-items: center;
	padding-right: 4rem;
	padding-left: 4rem;
}

.chat-input {
	flex: 3;
}

.chat-submit-btn {
	flex: 0.2;
	transform: translateY(-1rem);
}

.chat-submit-mobile {
	display: none;
}

.close-chat {
	position: absolute;
	top: 5px;
	right: 5px;
}

@media (max-width: 600px) {
	.chat-input-container {
		padding-right: 2rem;
	}

	.chat-container {
		height: 25vh;
	}

	.chat-submit-btn {
		display: none;
	}

	.chat-submit-mobile {
		display: initial;
		flex: 0.5;
		margin-left: 1rem;
		translateY:	(-1rem);
	}
}