.nav-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	padding-top: 4em;
	padding-bottom: 4em;
}

.nav-dropdown {
	width: 100%;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	border: 0;
}

.logo-container {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.logo {
	font-size: 2.25em;
}

.filler {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.nav-dropdown-item {
	width: 100%;
	text-align: center;
	color: var(--teal);
}

.nav-links {
	height: inherit;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.dropdown-menu {
	-webkit-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
}

.cursor-pointer {
	cursor: pointer;
}

nav ul a {
	font-size: 1.4em;
}

.active a {
	color: #1de9b6;
	background-color: #004d40;
	text-decoration: underline;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
	-webkit-transform: scale(1.25);
	    -ms-transform: scale(1.25);
	        transform: scale(1.25);
}

nav ul a:hover {
	background-color: #004d40; 
}

.material-icons.nav-dropdown-btn {
	font-size: 3em;
	margin-right: 0.5em;
	cursor: pointer;
}