.hero {
	background: url("/images/poker.jpg") no-repeat center center fixed;
	min-height: 45vh;
	justify-content: center;
}

.welcome {
	color: #84ffff;
	text-shadow: 2px 2px 2em #004d40;
}

.landing-container {
	margin-left: 1em;
	margin-right: 1em;
	display: block;
}

.landing {
	height: 15rem;
}

.landing-item {
	height: 100%;
}