.modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
	position: fixed;
	top: 20%;
	bottom: 20%;
	right: 20%;
	left: 20%;
	padding: 2rem 3rem;
	overflow: auto;
}

@media (max-width: 600px) {
	.modal-content {
		right: 0;
		left: 0;
	}
}

.bottom-modal {
	position: fixed;
	width: 100vw;
	height: 20vh;
	bottom: 0;
	text-align: center;
}

.modal-header {
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: underline;
}

.close-modal {
	cursor: pointer;
}

.actions-container .close-modal {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 1rem 1rem 0;
}