.profile-pane-container {
	display: flex;
}

.profile-pane-container > * {
	flex: 1;
	min-height: 74.5vh;
	padding: 1rem;
}

.profile-pane-break {
	display: none;
}

@media (max-width: 860px) {
	.profile-pane-container {
		flex-direction: column;
	}

	.profile-pane-container > * {
		min-height: 0;
	}

	.profile-pane.game-info-pane {
		order: 1;
	}

	.profile-pane.profile-info-pane {
		order: 3;
	}

	.profile-pane-break {
		display: block;
		flex: 1;
		order: 2;
		height: 0.5rem;
		padding: 0;
		margin: 1rem;
	}
}

@media (max-width: 435px) {
	.fb-invite-btn {
		font-size: 0.75rem;
	}
}

.profile-greeting {
	text-align: center;
}

.chip-restore {
	text-align: center;
}

.fb-invite-container {
	margin-top: 2rem;
	text-align: center;
}

.delete-profile-container {
	margin-top: 2rem;
	text-align: center;
}

.game-info-header {
	text-align: center;
	text-decoration: underline;
}

.game-info-text {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 400;
}

.current-games a .game-info-text {
	text-align: center;
}

.current-games-tab-container {
	box-shadow: 0rem 0.01rem 0.01rem 0.01rem black;
	z-index: 100;
}

.create-game-tab-container {
	box-shadow: 0rem 0.01rem 0.01rem 0.01rem black;
	z-index: 100;
}

.game-form-header {
	text-align: center;
	text-decoration: underline;
}

.invite-btn {
	width: 11rem;
	display: flex;
	align-items: center;
}

.invite-btn i {
	margin-right: 1rem;
}

.player-list-elem {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player-list-collection {
	padding-top: 1.5rem;
}

.active-sub-tab {
	background-color: var(--teal);
	color: white;
}

.submit-game-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}