.room-container {
	min-height: 88vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
}

.room-message-container {
	position: fixed;
	z-index: 100;
	min-width: 25%;
	right: 0%;
	top: 15%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.message {
	color: white;
	font-size: 1.25rem;
	margin: 0.5rem 0;
	padding: 1rem;
	-webkit-box-shadow: 0 0 1rem 0 black;
	        box-shadow: 0 0 1rem 0 black;
	-webkit-animation: slideInMessage 0.75s ease-in-out;
	        animation: slideInMessage 0.75s ease-in-out;
}

@media (max-width: 600px) {
	.room-message-container {
		position: fixed;
		min-width: 100%;
		max-width: 100%;
		bottom: 0%;
	}
}

.error-message {
	background-color: var(--bright-red);
}

.room-message {
	background-color: var(--green-accent);
}

@-webkit-keyframes slideInMessage {
	0% {
		-webkit-transform: translateY(100rem);
		        transform: translateY(100rem);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideInMessage {
	0% {
		-webkit-transform: translateY(100rem);
		        transform: translateY(100rem);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		opacity: 1;
	}
}