.lobby-container {
	padding: 4rem;
}

@media (max-width: 600px) {
	.lobby-container {
		padding: 0;
	}
}

.lobby-title {
	text-align: center;
}

.rooms-list {
	width: 100%;
}

.pagination-list {
	display: flex;
	justify-content: space-evenly;
}

.pagination-list > * {
	padding-right: 1rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
	cursor: pointer;
}

.room-list-title {
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 400;
	flex: 1.5;
	margin: 0.75rem;
	display: flex;
	align-items: center;
	padding-left: 2rem;
}

@media (max-width: 600px) {
	.room-list-title {
		font-size: 1.25rem;
		font-weight: 600;
		margin: 0 0.75rem 0 0;
		padding-left: 0.75rem;
	}
}

.room-list-status {
	font-size: 1.25rem;
	margin: 0.75rem;
	flex: 1.5;
}

.room-list-status:nth-child {
	padding: 0.75rem;
}

@media (max-width: 600px) {
	.room-list-status {
		font-size: 1rem;
	}
}

.room-info-item {
	display: flex;
	justify-content: space-between;
	margin: 0.75rem 2rem 0.75rem 2rem;
}

.room-info-item .room-list-title {
	margin: 0.75rem 0 0.75rem 2rem;
}

.room-info-item .status {
	margin: 0.75rem 2rem 0.75rem 0;
}