.table-container {
	border: 5px solid black;
	background-color: #1b5e20;
	width: 60vh;
	height: 60vh;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-top: 4rem;
	margin-bottom: 8rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table-center {
	width: 4rem;
	height: 3rem;
	right: calc(30vh - 2rem);
	bottom: calc(30vh + 1.5rem);
	display: flex;
	flex-direction: column;
	flex: 0.2;
	justify-content: center;
	align-items: center;
}

.table-pot {
	color: white;
	font-weight: bold;
	font-family: fantasy;
}

.table-card-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 5rem;
	width: 45vh;
	align-items: center;
	justify-content: center;
	margin-top: 1.25rem;
}

.table-card-0 {
	-webkit-animation: animate-card-0 0.75s ease-in-out;
	        animation: animate-card-0 0.75s ease-in-out
}

.table-card-1 {
	-webkit-animation: animate-card-1 0.75s ease-in-out;
	        animation: animate-card-1 0.75s ease-in-out
}

.table-card-2 {
	-webkit-animation: animate-card-2 0.75s ease-in-out;
	        animation: animate-card-2 0.75s ease-in-out
}

.table-card-3 {
	-webkit-animation: animate-card-3 0.75s ease-in-out;
	        animation: animate-card-3 0.75s ease-in-out
}

.table-card-4 {
	-webkit-animation: animate-card-4 0.75s ease-in-out;
	        animation: animate-card-4 0.75s ease-in-out
}

#deck {
	height: 4rem;
	width: 3rem;
}

/* Player seating */
.player-seat {
	border: 1px solid black;
	border-radius: 50%;
	background-color: blue;
	height: 6rem;
	width: 6rem;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: white;
}

.player-emblem-name {
	margin-bottom: 0;
}

.player-chip-count {
	margin-top: 0;
}

.winning-hand-message {
	text-align: center;
}

.winning-hand-cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 10rem;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.winning-hand-cards > * {
	width: 10vw;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.winning-hand-close-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 2rem;
	cursor: pointer;
}

#seat-1 {
	bottom: 0;
	right: calc(30vh - 3rem);
}

#seat-2 {
	bottom: 0;
	left: 0;
}

#seat-3 {
	bottom: calc(30vh - 3rem);
	left: 0;
}

#seat-4 {
	top: 0;
	left: 0;
}

#seat-5 {
	top: 0;
	right: calc(30vh - 3rem);
}

#seat-6 {
	top: 0;
	right: 0;
}

#seat-7 {
	right: 0;
	bottom: calc(30vh - 3rem);
}

#seat-8 {
	right: 0;
	bottom: 0;
}

@media (max-width: 600px) {
	#seat-1 {
		right: calc(20vh - 3rem);
		transform: translate(50%, -2.5rem);
	}

	#seat-2 {
		transform: translate(1rem, -2.5rem);
	}

	#seat-3 {
		bottom: calc(20vh - 3rem);
		transform: translateX(1rem);
	}

	#seat-4 {
		transform: translateX(1rem);
	}

	#seat-5 {
		right: calc(20vh - 3rem);
	}

	#seat-6 {
		transform: translateX(-1rem);
	}

	#seat-7 {
		bottom: calc(20vh - 3rem);
		transform: translateX(-1rem);
	}
}

#player-hand-card-0 {
	height: 4rem;
	width: 3rem;
	position: absolute;
	top: 5rem;
	right: 3rem;
}

#player-hand-card-1 {
	height: 4rem;
	width: 3rem;
	position: absolute;
	top: 5rem;
	right: -1px;
}

#table-card {
	height: 4rem;
	width: 4rem;
}

/* Keyframes for table cards */
@-webkit-keyframes animate-card-0 {
	0% { -webkit-transform: translate(100%, -9.5vh); transform: translate(100%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

@keyframes animate-card-0 {
	0% { -webkit-transform: translate(100%, -9.5vh); transform: translate(100%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

@-webkit-keyframes animate-card-1 {
	0% { -webkit-transform: translate(0, -9.5vh); transform: translate(0, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@keyframes animate-card-1 {
	0% { -webkit-transform: translate(0, -9.5vh); transform: translate(0, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@-webkit-keyframes animate-card-2 {
	0% { -webkit-transform: translate(-100%, -9.5vh); transform: translate(-100%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@keyframes animate-card-2 {
	0% { -webkit-transform: translate(-100%, -9.5vh); transform: translate(-100%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@-webkit-keyframes animate-card-3 {
	0% { -webkit-transform: translate(-100%, -9.5vh); transform: translate(-100%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@keyframes animate-card-3 {
	0% { -webkit-transform: translate(-100%, -9.5vh); transform: translate(-100%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@-webkit-keyframes animate-card-4 {
	0% { -webkit-transform: translate(-200%, -9.5vh); transform: translate(-200%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@keyframes animate-card-4 {
	0% { -webkit-transform: translate(-200%, -9.5vh); transform: translate(-200%, -9.5vh); }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}

@keyframes flashing-seat {
	0% { background-color: #009688; color: white;}
	100% { background-color: #fafafa; color: #009688;}
}

.active-seat-1 {
	animation-name: flashing-seat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.active-seat-2 {
	animation-name: flashing-seat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.active-seat-3 {
	animation-name: flashing-seat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.active-seat-4 {
	animation-name: flashing-seat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.active-seat-5 {
	animation-name: flashing-seat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.active-seat-6 {
	animation-name: flashing-seat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.active-seat-7 {
	animation-name: flashing-seat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@media (max-width: 600px) {
	.table-container {
		width: 100vw;
		height: 88vh;
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
		top: 0;
	}
	
	#table-card {
		height: 3.5rem;
		width: 3.5rem;
	}
	
	#deck {
		height: 2rem;
		width: 2rem;
		-webkit-box-flex: 0.2;
		    -ms-flex: 0.2;
		        flex: 0.2;
	}
	
	.table-pot {
		-webkit-box-flex: 0.2;
		    -ms-flex: 0.2;
		        flex: 0.2;
	}
	
	.table-pot-text {
		display: none;
	}
	
	.player-seat {
		height: 4rem;
		width: 4rem;
	}
	
	#seat-1 {
		left: 50%;
		-webkit-transform: translate(-50%, -2.5rem);
		    -ms-transform: translate(-50%, -2.5rem);
		        transform: translate(-50%, -2.5rem);
	}
	
	.player-emblem-name {
		font-size: 0.75rem;
	}
	
	.player-chip-count {
		font-size: 0.75rem;
	}
	
	#player-hand-card-0 {
		height: 3.5rem;
		width: 3.5rem;
		top: 3rem;
		right: 1.5rem;
	}
	
	#player-hand-card-1 {
		height: 3.5rem;
		width: 3.5rem;
		top: 3rem;
		right: -1rem;
	}
}

@media (max-width: 600px) {
	.winning-hand-cards > * {
		width: 15vw;
		height: 4rem;
	}
	
}