.table-container {
	border: 5px solid black;
	background-color: #1b5e20;
	width: 40%;
	flex: 1;
	margin-top: 8rem;
	margin-bottom: 12rem;
	position: relative;
}

.table-center {
	position: absolute;
	width: 4rem;
	height: 4rem;
	right: 49%;
	bottom: 50%;
}

#deck {
	height: 4rem;
	width: 4rem;
}